<html>
  <head>
    {{text}}
  </head>
  <body>
    <br />
    <a href="http://127.0.0.1:8000/scheduler/price/?q=Commercial Bank"
      >commercial bank
    </a>
    <br />
    <a href="http://127.0.0.1:8000/scheduler/price/?q=Others">Others </a>
    <br />
    <a href="http://127.0.0.1:8000/scheduler/price/?q=Life Insurance">Life Insurance </a>
    <br>
    <a href="http://127.0.0.1:8000/scheduler/price/?q=Development Banks">Development Banks</a>
    <br>
    <a href="http://127.0.0.1:8000/scheduler/price/?q=Finance">Finance</a>
    <br>
    <a href="http://127.0.0.1:8000/scheduler/price/?q=Investment">Investment</a>
    <br>

  </body>
</html>
